@page "/Admin/User/{id}"
@page "/Admin/User"

@using System.Security.Claims

@inject UserClient UserClient
@inject Microsoft.Extensions.Options.IOptions<SupportedCulturesOptions> SupportedCultures
@inject ILogger<User> Logger
@inject IStringLocalizer<Calibre_net.Shared.Resources.Admin> L
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider _authenticationStateProvider

@attribute [Authorize(Policy = "Admin")]
@attribute [StreamRendering]

<AuthorizeView >
    Authorized personel only
    </AuthorizeView>

<AuthorizeView Policy="Admin" >
    Authorized Admin personel only
    </AuthorizeView>

    <AuthorizeView Policy="Admintest" >
    Authorized AdminTest personel only
    </AuthorizeView>

        <AuthorizeView Policy="ReadUnread.Show" >
    Authorized  ReadUnread.Show personel only
    </AuthorizeView>

 

@if (!_loading && SelectedUser != null)
{
@if (this.IsNewUser)
{
    <MudText Typo="Typo.h4">@L["Add new User"]</MudText>
}
else
{
    <MudText Typo="Typo.h4">@L["Edit User {userName}", SelectedUser?.Name ?? string.Empty]</MudText>
    <MudText Typo="Typo.caption">@SelectedUser?.Id</MudText>
}

@if (!string.IsNullOrEmpty(ErrorMessage))
{
<MudAlert Severity="Severity.Error">@((MarkupString)ErrorMessage)</MudAlert>
}


    <EditForm Model="SelectedUser" method="post" OnValidSubmit="SubmitForm" FormName="SelectedUser">
        <DataAnnotationsValidator />
        <input type="hidden" name="SelectedUser.Id" value="@SelectedUser.Id" />
        <MudTextField Label="Username" name="SelectedUser.Name" @bind-Value="@SelectedUser.Name" Variant="Variant.Text" />
        <MudTextField Label="Email" name="SelectedUser.Email" @bind-Value="@SelectedUser.Email" Variant="Variant.Text"
            InputType="InputType.Email" />
        <MudTextField Label="Password" name="SelectedUser.Password" @bind-Value="@SelectedUser.Password"
            Variant="Variant.Text" InputType="InputType.Password" />

        <Calibre_net.Client.Components.Shared.SsrSelect Name="SelectedUser.PreferredLocale"
            @bind-Value="SelectedUser.PreferredLocale"
            Options="@supportedCultures.Select(s => new KeyValuePair<string,string> (s.DisplayName, s.Value)).ToList()">
        </Calibre_net.Client.Components.Shared.SsrSelect>


        <MudButton StartIcon="@Icons.Material.Filled.PersonAdd" Variant="Variant.Filled" Color="Color.Secondary"
            Class="mt-3 ml-3">Delete passkeys</MudButton>

        <MudButton StartIcon="@Icons.Material.Filled.PersonAdd" Variant="Variant.Filled" Color="Color.Secondary"
            Class="mt-3 ml-3">Remove MFA</MudButton>

        <div class="admin-permissions-list">
            @foreach (var permission in Permissions)
            {
                <MudCheckBox name="@($"SelectedUser.PermissionsDictionary[{permission.Name}]")"
                    Value="@(SelectedUser.HasPermission(permission.Name))">
                    <div class="d-flex flex-column ">
                        <MudText Typo="Typo.body1">@permission.Name</MudText>
                        <MudText Typo="Typo.caption">@permission.Description</MudText>
                        <MudText Typo="Typo.caption">Value: @(SelectedUser.HasPermission(permission.Name))</MudText>
                    </div>

                </MudCheckBox>

                @* <MudSwitch name="SelectedUser.Permissions" Value="@(SelectedUser.HasPermission(permission.Name) ?
        permission.Name : string.Empty)"
        Converter="@(new CustomStringToBoolConverter(permission.Name))">

        <div class="d-flex flex-column ">
        <MudText Typo="Typo.body1">@permission.Name</MudText>
        <MudText Typo="Typo.caption">@permission.Description</MudText>
        </div></MudSwitch> *@

                @* <InputCheckbox name="SelectedUser.Permissions" Value="@permission.Name" >
        <div class="d-flex flex-column ">
        <MudText Typo="Typo.body1">@permission.Name</MudText>
        <MudText Typo="Typo.caption">@permission.Description</MudText>
        </div>
        </InputCheckbox> *@

            }
        </div>


 @if(!UserIsMyself)
    {
        <AuthorizeView Policy="@PermissionType.ADMIN_USER" Context="AuthContext" >

        <MudButton StartIcon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Primary" Class="mt-3"
            ButtonType="ButtonType.Submit">Save
        </MudButton>
        </AuthorizeView>
}
else
{

           <AuthorizeView Policy="User.EditSelf" Context="AuthContext" >

        <MudButton StartIcon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Primary" Class="mt-3"
            ButtonType="ButtonType.Submit">Save
        </MudButton>
        </AuthorizeView>
        }


        <MudButton StartIcon="@Icons.Material.Filled.PersonAdd" Variant="Variant.Filled" Color="Color.Secondary"
            Class="mt-3 ml-3" ButtonType="ButtonType.Reset">Cancel</MudButton>
    </EditForm>
}


<MudButton StartIcon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Tertiary" Class="mt-3"
    Disabled="true">Add
    Allowed/Denied Tags</MudButton>
<MudButton StartIcon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Tertiary" Class="mt-3"
    Disabled="true">Add
    Allowed/Denied Custom Column Values</MudButton>

@if (!string.IsNullOrEmpty(Id))
{
    @if(!UserIsMyself)
    {
        <AuthorizeView Policy="@PermissionType.ADMIN_USER" >
    <EditForm Model="Id" method="post" OnValidSubmit="SubmitDeleteForm" FormName="DeleteUser" Context="EditContext">
            <MudButton StartIcon="@Icons.Material.Filled.PersonOff" Variant="Variant.Filled" Color="Color.Secondary"
                ButtonType="ButtonType.Submit" Class="mt-3 ml-3">Delete User</MudButton>
    </EditForm>
        </AuthorizeView>
}
else
{

           <AuthorizeView Policy="User.DeleteSelf" >
    <EditForm Model="Id" method="post" OnValidSubmit="SubmitDeleteForm" FormName="DeleteUser" Context="EditContext">
            <MudButton StartIcon="@Icons.Material.Filled.PersonOff" Variant="Variant.Filled" Color="Color.Secondary"
                ButtonType="ButtonType.Submit" Class="mt-3 ml-3">Delete My Account</MudButton>
    </EditForm>
        </AuthorizeView>
        }
}


@code {

    [Parameter]
    public string Id { get; set; } = string.Empty;

    private bool _loading = true;
    [SupplyParameterFromForm]
    private UserModelExtended? SelectedUser { get; set; }
    private CultureOption[] supportedCultures { get; set; } = [];
    private Func<CultureOption, string> convertFunc = ci =>
    ci == null ? string.Empty : ci.DisplayName;

    private bool IsNewUser => string.IsNullOrEmpty(SelectedUser?.Id) ;

    private string ErrorMessage {get;set;}= string.Empty;

    private bool UserIsMyself {get;set;} = false;


    ICollection<Permission> Permissions { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        Logger.LogInformation(nameof(OnInitialized));


        _loading = true;

        supportedCultures = SupportedCultures.Value.SupportedCultureOptions;

        Permissions = await UserClient.AllPermissionsAsync();
        if (!string.IsNullOrEmpty(Id))
            SelectedUser ??= await UserClient.UserGetAsync(Id.ToString());
        else
            SelectedUser ??= new UserModelExtended();
        SelectedUser.Permissions ??= [];

        var authState = await _authenticationStateProvider.GetAuthenticationStateAsync();
         var currentUserId = authState.User.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value ?? string.Empty;
        UserIsMyself = SelectedUser.Id == currentUserId;



        _loading = false;

    }

    public async Task SubmitForm()
    {
        if (SelectedUser == null)
            return;

        Logger.LogInformation("Sumbit form");
        Logger.LogInformation(SelectedUser.Name);

        if (IsNewUser)
        {
            try
            {
                SelectedUser.Permissions ??= [];
                SelectedUser.Id = string.Empty;
                var temp = await UserClient.AddAsync(SelectedUser);
                SelectedUser = temp;
            }
            catch (ApiException ae)
            {
                Logger.LogInformation(ae.Message);
                Logger.LogInformation(ae.Response);
                if (ae is ApiException<ICollection<string>>)
                    {

               ErrorMessage = string.Join(",", ((ApiException<ICollection<string>>)ae).Result);
                    }
                @* Logger.LogInformation(ae.Result); *@
            }
            @* catch (ApiException<string[]> ae)
            {
               ErrorMessage = string.Join(",", ae.Result);
            } *@
        }
        else
        {
            @* SelectedUser!.Id = Id; *@
            SelectedUser = await UserClient.UpdateAsync(SelectedUser);
        }



    }

    public async Task SubmitDeleteForm()
    {
        await UserClient.UserDeleteAsync(Id.ToString());
        NavigationManager.NavigateTo("/Admin");
    }


}