@page "/auth"
@using System.Globalization

@using Microsoft.AspNetCore.Authorization
@using Calibre_net.Client.Components
@using Calibre_net.Shared.Contracts;
@using Calibre_net.Client.Services;

@attribute [Authorize(Policy = "Admin")]
@rendermode InteractiveAuto


@inject IMessageService MessageService
@inject WindowIdService WindowIdService


@* <MyMudProviders /> *@

<PageTitle>Auth</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">You are authenticated</MudText>

<AuthorizeView>
    <MudText Class="mb-4">Hello @context.User.Identity?.Name!</MudText>
</AuthorizeView>

<p>
    <b>CurrentCulture</b>: @CultureInfo.CurrentCulture
</p>

<h2>Rendered values</h2>

<ul>
    <li><b>Date</b>: @dt</li>
    <li><b>Number</b>: @number.ToString("N2")</li>
</ul>

@(OperatingSystem.IsBrowser() ? "Wasm" : "Server")




@code {
    private DateTime dt = DateTime.Now;
    private double number = 1999.69;

     

}